.formBackGroundColor{
    background-color: gainsboro;
    padding: 10px;
}

#loaderHolder {
    background: black;
    opacity: .4;
    z-index: 1000;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#loader {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 1000;
    display: block;
}
